!!!
%html
  %head
    %title Blackacre Labs
    %link{:href => '/css/reset.css'}
    :css
        * {
          text-align: center;
        }
  %body
    %h1 Blackacre Labs
    %img{:src => '/image/logo.png'}
