!!!
%html
  %head
    %title Blackacre Labs
    %link{:href => '/css/reset.css'}
    :css
        * {
          text-align: center;
        }
        a {
          text-decoration: none;
          color: darkred;
        }
        a img {
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
  %body
    %h1 Blackacre Labs
    %p A Texas Nonprofit Corporation
    %img{:src => '/image/logo.png'}
    %p
      %img{:src => '/image/pdficon_small.png'}
      %a{:href => '/doc/Certificate%20of%20Formation.pdf'}
        Certiciate of Formation
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33784585-1']);
      _gaq.push(['_setDomainName', 'blackacrelabs.org']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
